@media(max-width: 1400px){

}
@media(max-width: 1200px){
// ======pageAbout========
    .pageAbout{
        &__icon{
            width: 70px;
            height:70px;
        }
    }
// ======pageSpeaker========
    .pageSpeakers{
        &__list{
            height: 80%;
        }
    }

}
@media(max-width: 1024px){
// ======pageAbout========
    .pageAbout{
        &__subtitle{
            margin-bottom: 25px;
        }
        &__item{
            padding: 8px 0;
            flex: 0 1 48%;
        }
        &__item:nth-child(-n+2) {
            margin-bottom: 16px;
        }
        
    }

}
@media(max-width: 992px){
// ======pageSpeaker========
    .pageSpeakers{
        &__list{
            height: 70%;
        }
    }
}
@media(max-width: 768px){
    .menu{
        &__list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 400px;
            text-align: center;
            background-color: #c9eef9eb;
            transform: translateY(-100%);
            &-active{
                transform: translateY(0%);
                transition: transform .3s;
            }
        }
        &__item{
            padding: 12px;
            width: 100%;
        }
        &__item + &__item {
            margin:0;

        }

    //activeClass
        & .active {
            background-color: #1462ad75;
            color: #fff;
        }
        & .active:before {
            transform: scale(0);
        }
        


    //BURGER_MENU
        &__burger{
            display: block;
            width: 30px;
            height: 20px;
            position: relative;
            &-top{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #1462ad;
                border-radius: 1px;
            }
            &-middle{
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #1462ad;
                border-radius: 1px;
            }
            &-bottom{
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #1462ad;
                border-radius: 1px;
            }
            & span{
                transition: transform .3s linear, opacity .1s;
                opacity: 1;
            }
            &-active{
                .menu__burger-bottom, .menu__burger-top{
                    opacity: 0;
                }
                .menu__burger-one{
                    transform: rotate(45deg)
                }
                .menu__burger-two{
                    transform: rotate(-45deg)
                }
            }
        }
    }
// ======pageHome========
    .pageHome{

        &__title {
            font-size: 55px;
        }
        &__date{
            font-size: 40px;
        }
    }
// ======pageAbout========
    .pageAbout{
        &__title{
            margin-bottom: 0px;
        }
        &__img{
            flex: 1 0 0%;
        }
        &__info{
            margin: auto;
        }
    }
// ======pageSpeaker========
    .pageSpeakers{
        &__list{
            height: 60%;
        }
    }
// ======pageContacts========
    .pageContacts{
        &__img{
            max-width: 50%;
            flex: 0 0 50%;
        }
        &__img:nth-child(n+3){
            display:none;
        }
    }
}

@media(max-width: 576px){
    .menu{
        &__list{
            height: 100vh
        }
    }
// ======pageHome========
    .pageHome{
        background-image: none;
        &__info{
            width: 100%;
            text-align: center;
            justify-content: space-around;
            min-height: 100vh;
            align-items: center;
        }
        &__title {
            font-size: 45px;
            margin-bottom: 15px;
        }
        &__local{
            margin-bottom: 70px;
        }
    }
// ======pageAbout========
    .pageAbout{
        &__item{
            padding: 18px 10px;
        }
    }
// ======pageSpeaker========
    .pageSpeakers{

        &__list{
            height: 100%;
        }
        &__item{
            flex:  1 0 100%;
            height: 100%;
        }
    }
// ======pageSchedule========
    .pageSchedule{
        &__title{
            margin-bottom: 45px;
        }
    }
    .presentation{
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 10px;
        &__day{
            margin-bottom: 10px;
            flex: 1 0 45%;
        }
    }
    .peoplePresentation{
        &__person{
            flex-direction: column;
            text-align: center;
        }
    }

}
@media(max-width: 480px){
// ======pageAbout========
    .pageAbout{
        &__subtitle{
            margin: 25px 0;
        }
        &__list{
            height: calc(100vh - 210px);
            overflow-y: scroll;
        }
        &__item:nth-child(-n+2) {
            margin-bottom: none;
        }
        &__item{
            flex: 1 0 100%;
            margin-bottom: 16px;
        }
    }
}
@media(max-width: 375px){
// ======pageContacts========
    .pageContacts{
        &__gallery{
            display:none;
        }
        &__contacts{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__text{
            margin-bottom: 30px;
            flex: 1 0 auto;
        }
        &__input{
            width: 100%;
            margin-bottom: 10px;
        }
        &__btn{
            width: 100%;
            margin-left: 0px;
        }
    }
}
@media(max-width: 361px){
// ======pageSpeaker========
    .pageSpeakers__list {
        height: 85%;
    }
}
